<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <head>
<body>

<!-- navbar -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <ul class='nav pull-right'>
            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>

{% block main %}
    <form action="/reset/update" method="post">
        <!-- textarea 是一个文本域 -->
        <!-- name rows cols 都是属性, 用处上课讲 -->
        <label class="control-label">密码</label>
        <br>
        <input name="password">
        <br>
        <br>
        <input name="token">
        <br>
        <div>token:{{ token }}</div>
        <!-- button type=submit 才可以提交表单 -->
        <button type="submit">修改</button>
    </form>
{% endblock %}

</body>
